QMainWindow{
    background-repeat: no-repeat;
    background-position: center;
    border-image: url("img/bg.jpg");
}
QWidget#mainwidget{
    background-color: rgba(105,105,105,150);
}
QLabel{
    font:0 10pt "Microsoft YaHei";
    color: white
}
QRadioButton{
    font:0 10pt "Microsoft YaHei";
    color: white
}